highlight-dispatcher/dify/highlight-review-workflow.yml
app:
  description: RoboMaster highlight candidate reviewer for rm-monitor highlight-dispatcher.
  icon: 🎬
  icon_background: '#E0F2FE'
  mode: workflow
  name: rm-monitor-highlight-review
  use_icon_as_answer_icon: false
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      number_limits: 0
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        sourceType: start
        targetType: code
      id: start-source-retrieval_query-target
      source: start
      sourceHandle: source
      target: retrieval_query
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: knowledge-retrieval
      id: retrieval_query-source-robomaster_knowledge-target
      source: retrieval_query
      sourceHandle: source
      target: robomaster_knowledge
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: robomaster_knowledge-source-llm-target
      source: robomaster_knowledge
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: llm-source-code-target
      source: llm
      sourceHandle: source
      target: code
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: end
      id: code-source-end-target
      source: code
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: payload
          max_length: 120000
          options: []
          required: true
          type: paragraph
          variable: payload
      height: 90
      id: start
      position:
        x: 80
        y: 240
      positionAbsolute:
        x: 80
        y: 240
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(payload=''):\n    data = json.loads(payload or '{}')\n    match = data.get('match') or {}\n    round_data = data.get('round') or {}\n    candidate = data.get('candidate') or {}\n    terms = [\n        'RoboMaster 高光 团战 能量机关 基地压制 工程机器人 哨兵 英雄 步兵 飞镖',\n        str(match.get('event', '')), str(match.get('zone', '')), str(match.get('match_type', '')),\n        str(match.get('red_school', '')), str(match.get('blue_school', '')),\n        'Round ' + str(round_data.get('round_no', '')),\n        'peak ' + str(candidate.get('peak_seconds', '')),\n    ]\n    return {'query': ' '.join([x for x in terms if x]).strip()}\n"
        code_language: python3
        desc: ''
        outputs:
          query:
            children: null
            type: string
        selected: false
        title: Build Retrieval Query
        type: code
        variables:
        - value_selector:
          - start
          - payload
          variable: payload
      height: 54
      id: retrieval_query
      position:
        x: 360
        y: 120
      positionAbsolute:
        x: 360
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 0a8e8227-b05f-458a-9060-ac4543273fcd
        - c2243160-9c95-4e01-bb30-5c60c72ed2aa
        desc: ''
        query_variable_selector:
        - retrieval_query
        - query
        retrieval_mode: multiple
        selected: false
        title: RoboMaster Knowledge
        type: knowledge-retrieval
        multiple_retrieval_config:
          top_k: 6
          score_threshold: null
          reranking_model: null
      height: 92
      id: robomaster_knowledge
      position:
        x: 660
        y: 120
      positionAbsolute:
        x: 660
        y: 120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - robomaster_knowledge
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: scut-ai-proxy-deepseek-r1-671b
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - role: system
          text: "你是 RoboMaster 赛事短视频高光审核编辑。你只根据 payload 和知识库判断候选片段是否值得产出，并生成短视频元数据。\n\n职责：\n- 判断候选是否是真高光：真实团战、关键压制、能量机关、飞镖、基地攻防、结算胜负、明显观众热度爆发等。\n- 过滤无效峰值：暂停、调试、闲聊、刷屏、无比赛内容、证据不足、只有普通解说但没有事件指向。\n- 代码已经决定候选时间窗口，你不要修改时间点。\n\n证据规则：\n- 只能使用 payload 中的 match、round、candidate、stt_segments、danmu_samples、danmu_summary、ocr_settlement、existing_highlights。\n- STT 是内部现场语音转写素材，不要写“解说称/据解说”。\n- 弹幕峰值只能证明观众讨论升温，不能单独证明击杀、团战或胜负。\n- 知识库只用于校正 RoboMaster 术语，不得把知识库内容当成本场事实。\n- 不编造击毁、血量、经济、点位、机器人动作、战术细节。\n\n输出要求：\n- 只输出严格 JSON，不要 Markdown，不要代码块。\n- accepted=false 时也必须给 reason，title/description 可为空。\n- accepted=true 时 title 不超过 24 个中文字符，description 不超过 90 个中文字符，tags 2-6 个。\n- highlight_type 只能从这些值中选一个：团战爆发、关键压制、能量机关、飞镖时刻、基地攻防、逆转节点、胜负结算、观众热议、其他。\n\nJSON 结构：\n{\n  \"accepted\": true,\n  \"confidence\": 0.0,\n  \"highlight_type\": \"团战爆发\",\n  \"title\": \"...\",\n  \"description\": \"...\",\n  \"tags\": [\"RoboMaster\", \"赛事高光\"],\n  \"reason\": \"内部审核原因，说明证据来自 STT/弹幕/OCR/比分哪一类\",\n  \"publish_caption\": \"适合平台动态的一句话\"\n}\n\n<context>\n{{#context#}}\n</context>"
        - role: user
          text: "请审核这个 rm-monitor 高光候选，并按指定 JSON 输出。\n\n{{#start.payload#}}"
        selected: true
        title: Review Highlight Candidate
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 680
        y: 240
      positionAbsolute:
        x: 680
        y: 240
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\nimport re\n\nALLOWED_TYPES = {'团战爆发','关键压制','能量机关','飞镖时刻','基地攻防','逆转节点','胜负结算','观众热议','其他'}\n\ndef clean_json(text):\n    raw = (text or '').strip()\n    raw = re.sub(r'^```(?:json)?\\s*', '', raw)\n    raw = re.sub(r'\\s*```$', '', raw)\n    return json.loads(raw)\n\ndef main(text=''):\n    data = clean_json(text)\n    accepted = bool(data.get('accepted'))\n    confidence = float(data.get('confidence') or 0)\n    confidence = max(0, min(1, confidence))\n    htype = str(data.get('highlight_type') or '其他').strip()\n    if htype not in ALLOWED_TYPES:\n        htype = '其他'\n    title = str(data.get('title') or '').strip()\n    description = str(data.get('description') or '').strip()\n    reason = str(data.get('reason') or '').strip()\n    publish_caption = str(data.get('publish_caption') or '').strip()\n    tags = data.get('tags') or []\n    if not isinstance(tags, list):\n        tags = []\n    tags = [str(x).strip() for x in tags if str(x).strip()]\n    if accepted and (not title or not description):\n        raise ValueError('accepted highlight missing title or description')\n    if accepted and not tags:\n        tags = ['RoboMaster', '赛事高光']\n    if not reason:\n        reason = '候选片段证据不足' if not accepted else '候选片段通过审核'\n    return {'highlight_review_json': {\n        'accepted': accepted,\n        'confidence': confidence,\n        'highlight_type': htype,\n        'title': title[:36],\n        'description': description[:140],\n        'tags': tags[:6],\n        'reason': reason[:300],\n        'publish_caption': publish_caption[:120],\n    }}\n"
        code_language: python3
        desc: ''
        outputs:
          highlight_review_json:
            children: null
            type: object
        selected: false
        title: Parse Strict Review JSON
        type: code
        variables:
        - value_selector:
          - llm
          - text
          variable: text
      height: 54
      id: code
      position:
        x: 980
        y: 240
      positionAbsolute:
        x: 980
        y: 240
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - code
          - highlight_review_json
          variable: highlight_review_json
        selected: false
        title: End
        type: end
      height: 90
      id: end
      position:
        x: 1280
        y: 240
      positionAbsolute:
        x: 1280
        y: 240
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
