manifest-job/dify/report-workflow.yml
app:
  description: RoboMaster match report generator for rm-monitor manifest-job.
  icon: 🏆
  icon_background: '#FFEAD5'
  mode: workflow
  name: rm-monitor-manifest-report
  use_icon_as_answer_icon: false
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      number_limits: 0
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: code
      id: llm-source-code-target
      source: llm
      sourceHandle: source
      target: code
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: end
      id: code-source-end-target
      source: code
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    - data:
        sourceType: start
        targetType: code
      id: start-source-retrieval_query-target
      source: start
      sourceHandle: source
      target: retrieval_query
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: knowledge-retrieval
      id: retrieval_query-source-robomaster_knowledge-target
      source: retrieval_query
      sourceHandle: source
      target: robomaster_knowledge
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: robomaster_knowledge-source-llm-target
      source: robomaster_knowledge
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: payload
          max_length: 200000
          options: []
          required: true
          type: paragraph
          variable: payload
      height: 90
      id: start
      position:
        x: 80
        y: 240
      positionAbsolute:
        x: 80
        y: 240
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - robomaster_knowledge
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: scut-ai-proxy-deepseek-r1-671b
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - role: system
          text: "你是 RoboMaster 机甲大师赛事官方战报编辑，读者是参赛队、观众和赛事运营人员。\n\n写作目标：\n- 写出一篇赛后战报，不是数据表复述，也不是夸张营销文案。\n- 先交代赛果和比赛意义，再按小局回顾走势，最后总结胜负关键和后续关注。\n\
            - 语气专业、克制、有现场感；可以有节奏感，但不要用“碾压、吊打、封神、梦幻开局、血洗、统治全场”等夸张词。\n\n证据规则：\n- 只根据 payload 写作，不编造未给出的机器人动作、击毁、经济、血量、点位、战术细节或选手表现。\n\
            - 比分、胜方、小局胜负、时长是强事实，可以直接写。\n- stt_lines 是解说摘录，只能作为辅助证据；不要逐字引用过长句子。\n- danmu.peaks[].peak_seconds 是秒级时间点，danmu.peaks[].peak_count\
            \ 是该 10 秒桶弹幕数量；弹幕峰值只能表述为“观众讨论升温、弹幕集中出现、关注度抬升”，不能直接推断发生击杀或团战。\n- highlights、ocr_settlement 如果存在，可以作为高光和赛果证据；不存在时不要提“缺失”。\n\
            - payload 中 started_at/ended_at 是墙钟时间，不是比赛用时；duration_seconds 才是小局时长。\n\n禁止内容：\n- 不要提到 AI、模型、系统、Dify、工作流、STT、识别文本、自动生成、数据待完善、信息不足等内部实现。\n\
            - 不要写“技术原因、数据缺失、未完整记录、无法还原、资料有限”等解释性托辞；证据不足时只写已确认事实。\n- 不要评价“数据是否充分、解说是否收录、弹幕是否显示”；这些是内部素材状态，不是战报内容。\n- 不要写“可能、似乎、应该、疑似”等弱化词；证据不足时改写为保守事实表达。\n\
            - 不要生成没有证据支撑的战术判断。\n\nMarkdown 正文结构：\n- 必须包含这些二级标题，且顺序固定：\n  1. ## 赛果速览\n  2. ## 比赛走势\n  3. ## 小局回顾\n  4. ## 关键节点\n\
            \  5. ## 后续关注\n- Markdown 标题必须写成“## 标题”“### 标题”，# 后必须有空格。\n- Markdown 列表必须写成“- 文本”；如果加粗，写成“- **标题**：内容”。\n- 正文建议\
            \ 500-900 个中文字符；每个章节至少写一个完整段落或 2 条要点，关键节点列出 2-4 条。\n\n内容要求：\n- “赛果速览”：一句话写清谁以几比几获胜、赛区、场次和小局结果。\n- “比赛走势”：概括整场节奏，优先使用比分、小局时长、弹幕热度峰值和解说摘录支撑。\n\
            - “小局回顾”：每局一段，说明胜方、时长和观众关注点；不要流水账。\n- “关键节点”：列出 2-5 个节点，时间点必须来自弹幕峰值、highlights 或 STT 时间戳。\n- “后续关注”：写胜方晋级/排名/后续对阵信息；如果\
            \ payload 没给明确去向，只写“后续赛程中继续关注两队表现”。\n\n输出必须是严格 JSON，不要用代码块包裹。\nJSON 结构必须为：\n{\n  \"report_markdown\": \"Markdown正文，最高从二级标题开始\"\
            ,\n  \"report_json\": {\n    \"headline\": \"不超过28字的标题\",\n    \"summary\": \"一句话概括\",\n    \"round_summaries\"\
            : [{\"round_no\": 1, \"summary\": \"...\"}],\n    \"key_moments\": [{\"round_no\": 1, \"time\": 0, \"title\":\
            \ \"...\", \"description\": \"...\"}],\n    \"evidence_used\": [\"score\", \"rounds\", \"stt\", \"danmu\"],\n\
            \    \"tags\": [\"...\"]\n  }\n}\n\n\n知识库使用规则：\n- <context> 中是 RoboMaster 规则、术语和官方表达参考。\n- 用它校正术语、避免错写机器人/赛制概念；不要把知识库内容当成本场事实。\n\
            - 本场比分、小局结果、时间点和素材证据必须以 payload 为准。\n\n<context>\n{{#context#}}\n</context>\n\n赛程去向规则：\n- 只有 payload.match.winner_placeholder\
            \ 或 loser_placeholder 明确给出时，才能写晋级、淘汰、进入败者组、结束征程、下一轮等赛程去向。\n- 如果没有这些字段，后续关注只能写“后续赛程中继续关注两队表现”，不能根据 match_type 自行推断。\n\
            \n强判断限制：\n- 没有小局具体比分、经济、击毁、血量或结算 OCR 证据时，不要写“一边倒、较大优势、未给反击空间、明显倾斜”等强判断。\n- “前压、压制、卡住前哨站”等可以作为解说摘录引用，但不能扩展成完整战术结论。"
        - role: user
          text: '请基于以下 rm-monitor 比赛 payload 生成战报。


            {{#start.payload#}}

            '
        selected: true
        title: Generate Report JSON with RoboMaster KB
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 380
        y: 240
      positionAbsolute:
        x: 380
        y: 240
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\nimport re\n\nREQUIRED_HEADINGS = [\n    \"## 赛果速览\",\n    \"## 比赛走势\",\n    \"## 小局回顾\",\n   \
          \ \"## 关键节点\",\n    \"## 后续关注\",\n]\nFORBIDDEN_TERMS = [\n    \"Dify\", \"工作流\", \"自动生成\", \"数据待完善\", \"信息不足\",\
          \ \"无法判断\",\n    \"技术原因\", \"数据缺失\", \"未被完整记录\", \"未完整记录\", \"无法还原\", \"资料有限\",\n    \"未收录\", \"未显示\",\n]\nINTERNAL_REPLACEMENTS\
          \ = {\n    \"STT\": \"解说摘录\",\n    \"识别文本\": \"解说摘录\",\n    \"AI\": \"编辑\",\n    \"模型\": \"资料\",\n    \"系统\": \"\
          资料\",\n    \"弹幕数据\": \"弹幕反馈\",\n}\n\ndef normalize_markdown(markdown):\n    lines = markdown.strip().splitlines()\n\
          \    out = []\n    for line in lines:\n        line = re.sub(r\"^(\\s*#{2,6})([^#\\s].*)$\", r\"\\1 \\2\", line)\n\
          \        line = re.sub(r\"^(\\s*[-*])([^\\s].*)$\", r\"\\1 \\2\", line)\n        out.append(line)\n    return \"\
          \\n\".join(out).strip()\n\ndef remove_bad_public_sentences(markdown):\n    bad = [\"技术原因\", \"数据缺失\", \"未被完整记录\"\
          , \"未完整记录\", \"无法还原\", \"资料有限\"]\n    markdown = re.sub(r\"但弹幕[^。\\n]*(未显示|缺少|不足)[^。\\n]*。?\", \"\", markdown)\n\
          \    markdown = re.sub(r\"比赛过程未收录有效解说信息，?\", \"红方延续首局节奏，\", markdown)\n    markdown = re.sub(r\"[^。\\n]*(未收录|未显示)[^。\\\
          n]*。?\", \"\", markdown)\n    lines = []\n    for line in markdown.splitlines():\n        if any(term in line for\
          \ term in bad):\n            continue\n        lines.append(line)\n    return \"\\n\".join(lines).strip()\n\n\n\
          def has_explicit_advancement(payload):\n    try:\n        data = json.loads(payload or '{}')\n        match = data.get('match')\
          \ or {}\n        return bool(match.get('winner_placeholder') or match.get('loser_placeholder'))\n    except Exception:\n\
          \        return False\n\ndef sanitize_advancement(markdown, report_json, payload):\n    if has_explicit_advancement(payload):\n\
          \        return markdown, report_json\n    banned = [\"晋级\", \"淘汰\", \"进入败者组\", \"结束征程\", \"下一轮\"]\n    markdown\
          \ = re.sub(r\"[，,][^。\\n]*(晋级|淘汰|进入败者组|结束征程|下一轮)[^。\\n]*。\", \"。\", markdown)\n    markdown = re.sub(r\"## 后续关注[\\\
          s\\S]*$\", \"## 后续关注\\n后续赛程中继续关注两队表现。\", markdown).strip()\n    markdown = re.sub(r\"未给([^。\\n]{0,12})喘息机会\", r\"\
          保持前压节奏\", markdown)\n    markdown = markdown.replace(\"效果显著\", \"被解说提及\")\n    markdown = markdown.replace(\"确立胜势\"\
          , \"取得主动\")\n    markdown = markdown.replace(\"奠定胜势\", \"取得主动\")\n    def clean_text(text):\n        text = str(text\
          \ or \"\")\n        for term in banned:\n            text = text.replace(term, \"\")\n        text = re.sub(r\"\\\
          s+\", \" \", text).strip()\n        return text\n    if isinstance(report_json, dict):\n        for key in (\"headline\"\
          , \"summary\"):\n            if key in report_json:\n                report_json[key] = clean_text(report_json[key])\n\
          \    return markdown, report_json\n\ndef main(text, payload=\"\"):\n    raw = (text or \"\").strip()\n    raw =\
          \ re.sub(r\"^```(?:json)?\\s*\", \"\", raw)\n    raw = re.sub(r\"\\s*```$\", \"\", raw)\n    data = json.loads(raw)\n\
          \    report_markdown = normalize_markdown(str(data.get(\"report_markdown\") or \"\"))\n    for old, new in INTERNAL_REPLACEMENTS.items():\n\
          \        report_markdown = report_markdown.replace(old, new)\n    report_markdown = remove_bad_public_sentences(report_markdown)\n\
          \    report_json = data.get(\"report_json\")\n    if not report_markdown:\n        raise ValueError(\"report_markdown\
          \ is empty\")\n    if report_json is None:\n        raise ValueError(\"report_json is missing\")\n    report_markdown,\
          \ report_json = sanitize_advancement(report_markdown, report_json, payload)\n    for heading in REQUIRED_HEADINGS:\n\
          \        if heading not in report_markdown:\n            raise ValueError(f\"missing heading: {heading}\")\n   \
          \ for term in FORBIDDEN_TERMS:\n        if term in report_markdown:\n            raise ValueError(f\"forbidden term\
          \ in report_markdown: {term}\")\n    chinese_chars = re.findall(r\"[\\u4e00-\\u9fff]\", report_markdown)\n    if\
          \ len(chinese_chars) < 200:\n        raise ValueError(\"report_markdown is too short\")\n    if not isinstance(report_json,\
          \ dict):\n        raise ValueError(\"report_json must be object\")\n    for key in [\"headline\", \"summary\", \"\
          round_summaries\", \"key_moments\", \"evidence_used\", \"tags\"]:\n        if key not in report_json:\n        \
          \    raise ValueError(f\"report_json missing {key}\")\n    return {\n        \"report_markdown\": report_markdown,\n\
          \        \"report_json\": report_json,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          report_json:
            children: null
            type: object
          report_markdown:
            children: null
            type: string
        selected: false
        title: Parse Strict JSON
        type: code
        variables:
        - value_selector:
          - llm
          - text
          variable: text
        - value_selector:
          - start
          - payload
          variable: payload
      height: 54
      id: code
      position:
        x: 680
        y: 240
      positionAbsolute:
        x: 680
        y: 240
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - code
          - report_markdown
          variable: report_markdown
        - value_selector:
          - code
          - report_json
          variable: report_json
        selected: false
        title: End
        type: end
      height: 90
      id: end
      position:
        x: 980
        y: 240
      positionAbsolute:
        x: 980
        y: 240
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(payload):\n    data = json.loads(payload or '{}')\n    match = data.get('match') or\
          \ {}\n    bits = ['RoboMaster 机甲大师 赛制 术语 战报 写作']\n    for key in ('event','zone','match_type','winner'):\n     \
          \   if match.get(key):\n            bits.append(str(match.get(key)))\n    for team_key in ('red_team','blue_team'):\n\
          \        team = match.get(team_key) or {}\n        bits.append(str(team.get('school') or ''))\n        bits.append(str(team.get('name')\
          \ or ''))\n    for rd in data.get('rounds') or []:\n        for line in rd.get('stt_lines') or []:\n           \
          \ text = str(line.get('text') or '').strip()\n            if text:\n                bits.append(text)\n        \
          \    if len(' '.join(bits)) > 220:\n                break\n    return {'query': ' '.join([b for b in bits if b])[:200]}"
        code_language: python3
        desc: ''
        outputs:
          query:
            children: null
            type: string
        selected: false
        title: Build Retrieval Query
        type: code
        variables:
        - value_selector:
          - start
          - payload
          variable: payload
      height: 54
      id: retrieval_query
      position:
        x: 360
        y: 120
      positionAbsolute:
        x: 360
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 0a8e8227-b05f-458a-9060-ac4543273fcd
        desc: ''
        query_variable_selector:
        - retrieval_query
        - query
        retrieval_mode: multiple
        selected: false
        title: RoboMaster Knowledge
        type: knowledge-retrieval
        multiple_retrieval_config:
          top_k: 3
          score_threshold: null
          reranking_model: null
      height: 92
      id: robomaster_knowledge
      position:
        x: 660
        y: 120
      positionAbsolute:
        x: 660
        y: 120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
